
.story_display_body{
    /* border: 1px solid red; */
    display: flex;
    width: 50vw;
    margin: 0 25% 100px 25%;
}

.sd_container{
    width: 720px;
}

h1{
    font-size: 50px;
}
.sd_author_block{
    display: flex;
    flex-direction: column;
}
.story_images{
    /* border: 1px solid green; */
    /* color: rgb(149, 149, 149); */
    display: grid;
    gap: 7px;
    margin-left: 5%;
    max-width: 720px;
    grid-template-areas:
    "a b"
    "c d";
}
.story_img1{
    grid-area: a;
}
.story_img2{
    grid-area: b;
}
.story_img3{
    grid-area: c;
}
.story_img4{
    grid-area: d;
}
.image{
    height: 300px;
    width: 315px;
    border-radius: 10px;
}

.comment-icon:hover,
.fa-ellipsis-h:hover{
    cursor: pointer;
}

.sd_story_body{
    font-size: 22px;
    /* letter-spacing: .03em; */
    text-align: justify;
    line-height: 25px;
    text-indent: 25px;
}

.false{
    visibility: hidden;
}

.ellipsis-button{
    border: none;
    background-color: transparent;
    margin-left: 81%;
}

.options-span{
    position: relative;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    margin-left: -7vw;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    background-color:white;
    box-shadow: 0 0 5px .8px grey;
    border-radius: 5px;
    height: 85px;
    width: 100px;
    /*
    margin-top: 2.8%;
    */

}

.edit-story-button{
    margin-top: 19px;
}
.edit-story-button,
.delete-story-button{
    border: none;
    background-color: transparent;
    width: 100%;
    font-size: 14px;
    text-align: left;
    margin-left: 8px;
}

.edit-story-button:hover,
.delete-story-button:hover{
    cursor: pointer;
    font-weight: 560;
}

.delete-story-button{
    color: #C94A4A;
}


.hidden{
    visibility: hidden;
}

.add-more-margin{
    margin-top: 90px;
}
