

.story_display_body{
    /* border: 1px solid red; */
    display: flex;
    width: 50vw;
    margin: 0 25% 0 25%;
}

h1{
    font-size: 50px;
}
.sd_author_block{
    display: flex;
    flex-direction: column;
}
.story_images{
    /* border: 1px solid green; */
    /* color: rgb(149, 149, 149); */
    display: grid;
    gap: 15px;
    width: 720px;
    grid-template-areas:
    "a b"
    "c d";
}
.story_img1{
    grid-area: a;
}
.story_img2{
    grid-area: b;
}
.story_img3{
    grid-area: c;
}
.story_img4{
    grid-area: d;
}
.image{
    height: 300px;
    width: 100%;
    border-radius: 10px;
}

.snap-count:hover,
.comment-icon:hover,
.fa-ellipsis-h:hover{
    cursor: pointer;
}

.sd_story_body{
    font-size: 22px;
    letter-spacing: .03em;
    line-height: 25px;
}

.false{
    visibility: hidden;
}

.ellipsis-button{
    border: none;
    background-color: transparent;
    margin-left: 82%;
}

.options-span{
    position: absolute;
    height: 85px;
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 2.8%;
    margin-left: 46.6%;
    gap: 10px;
    background-color:white;
    box-shadow: 0 0 5px .8px grey;
    border-radius: 5px;

}

.edit-story-button{
    margin-top: 19px;
}
.edit-story-button,
.delete-story-button{
    border: none;
    background-color: transparent;
    width: 100%;
    font-size: 14px;
    text-align: left;
    margin-left: 8px;
}

.edit-story-button:hover,
.delete-story-button:hover{
    cursor: pointer;
    font-weight: 560;
}

.delete-story-button{
    color: #C94A4A;
}


.hidden{
    visibility: hidden;
}
