.landing_page_container{
    display: grid;
    grid-template-rows: 10% 40% 50%;
    height: 100vh;
}

.lp{
    /* border: 1px solid black; */
}

.lp_header, .lp_text_box{
    background-color: #FFBF17;
}

.lp_header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    border-bottom: 1.5px solid black;
}

.lp_logo{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    width: 40%;
    gap: 20px;
}

.site_name{
    font-weight: 900;
}
.lp_links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    width: 40%;
}

.lp_link{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.get_started_button{
    background-color: black;
    color: white;
    border-radius: 30px;
    border: none;
    height: 50px;
    width: 130px;
    font-size: 17px;
}

.lp_text_box{
    display: flex;
    justify-content: space-between;
    height: 400px;
    width: 100vw;
    border-bottom: 1.5px solid black;
}

.byline_and_button{
    width: 50%;
    align-content: center;
}

.m-field{
    width: 50%;
}

.words_btn{
    width: 80%;
    height: 100%;
    margin: 0 15% 0 15%;
}
h1{
    font-size: 100px;
}
h3{
    font-size: 25px;
    text-align: left;
    margin-top: -25px;
}

.start_reading_button{
    background-color: black;
    color: white;
    border-radius: 30px;
    border: none;
    height: 50px;
    width: 250px;
    font-size: 20px;
}

.lp_story_topics_container{
    display: flex;
    margin-top: 105px;
}

.trending_stories{
    width: 70%;
    border: 2px solid blue;
}

.story_card:hover{
    cursor: pointer;
}

.topics{
    width: 30%;
    border: 2px solid green;
}

.bottom_div_p{
    font-size: 20px;
}
