body{
    width: 100%;
    margin-left: 0px;
    overflow-x: hidden;
    margin-bottom: 100px;
}

.lp_text_box{
    background-color: #FFBF17;
    display: flex;
    justify-content: space-between;
    height: 600px;
    width: 100vw;
    border-bottom: 1.5px solid black;
}

.byline_and_button{
    width: 50%;
    align-content: center;
}

.food-field{
    height: 400px;
    width: 50%;
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(20, 3%);
    grid-template-rows: repeat(10, 7%);
    gap: 15px;
}
.food-icon{
    height: 2px;
    width: 2px;
}
@keyframes blinking {
    to {
        visibility: hidden;
    }
}

.words_btn{
    width: 80%;
    height: 100%;
    margin: 20% 15% 0 15%;
}

.words_btn > p:first-child{
    font-size: 110px;
    margin-bottom: -15px;
}

.words_btn > p:not(:first-child){
    font-size: 24px;
    width: 70%;
}
h1{
    font-size: 100px;
}
h3{
    font-size: 25px;
    text-align: left;
    margin-top: -25px;
}

.start_reading_button{
    background-color: black;
    color: white;
    border-radius: 30px;
    border: none;
    height: 50px;
    width: 250px;
    font-size: 20px;
}
.start_reading_button:hover{
    cursor: pointer;
}

/************ TRENDING STORIES ***********/
.trending_stories{
    margin: 2% 10% 0 15%;
    height: fit-content;
}

.material-symbols-outlined.trending {
  border: 2px solid black;
  border-radius: 20px;
  height: 20px;
  width: 20px;
  font-size: 20px;
}

.story_card{
    display: flex;
    flex-direction: row;
}

.story:hover{
    cursor: pointer;
}

.topics{
    width: 30%;
}

.bottom_div_p{
    font-size: 20px;
}

/************ STORY CARDS ***********/
.story_card_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "a b c"
        "d e f";
}

._0{
    grid-area: a;
}

._1{
    grid-area: b;
}

._2{
    grid-area: c;
}

._3{
    grid-area: d;
}

._4{
    grid-area: e;
}

._5{
    grid-area: f;
}

.individual_card,
.individual_card_all{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: start;
}

.individual_card_all{
    justify-content: start;
    gap: 80px;
    width: max-content;
    margin-right: 70px;
}

.hr{
    margin: 50px 0;
    height: 0.5px;
    background-color: rgb(230, 230, 230);
}
/********* TOPICS **********/

.landing-bottom-half{
    display: flex;
    flex-direction: row;
}

.allStories-container{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 40px;
}

.allstory-item:hover{
    cursor: pointer;
}

.landing-page-story-img,
.no-photo{
    height: 140px;
    width: 200px;
    border-radius: 14px;
}

.no-photo{
    border: none;
}

.topics-container{
    position: sticky;
    top: 90px;
    height: fit-content;
}

.topics{
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* grid-auto-flow:column-dense; */
    gap: 2px;
    margin-bottom: 200px;
    flex-grow: 2;
}

.discover-tag{
    font-weight: 600;
    font-size: 19px;
}

.individual-topic{
    background-color: #F2F2F2;
    border-radius: 20px;
    width: max-content;
    height: max-content;
    padding: 15px;
    font-size: 17px;
}

.individual-topic:hover{
    cursor: pointer;
}

.show-topics{
    font-size: 18px;
    width: 100%;
    color: rgb(26, 137, 23);
    cursor: pointer;
    margin-top: 10px;
}
