.signup-modal{
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 450px;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
}
.signup-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: 1px solid red; */
}
.greet{
    margin-bottom: 10px;
    font-size: 30px;
}
.signup_input_field{
    border: none;
    height: 20px;
    background-color: rgb(242, 242, 242);
    border-radius: 20px;
    padding: 10px;
    width: auto;
}

p{
    font-size: 16px;
}
.file-span{
    margin: 10px 0 10px 0;
    text-align: center;
}
.fa-upload{
    margin-left: 10px;
    color:black;
    font-size: 15px;
}
.fa-upload:hover{
    cursor: pointer;
    color:rgb(26, 137, 23);
}

.signup-button{
    border-radius: 10px;
    height: 25px;
    width: 15vw;
    align-self: center;
}

.signup-button:hover{
    cursor: pointer
}

.signup-pw-input{
    display: flex;
    flex-direction: row;
}

.signup-eye{
    color: rgb(92, 92, 92);
    align-self: center;
    position: absolute;
    z-index: 2;
    font-size: 19px;
    margin-left: 50%;
}
.signup-eye:hover{
    cursor: pointer;
}

.signup_input_field.pw{
    width: 100%;
}
