.options-modal{
    height: 60px;
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.edit-story-button,
.delete-story-button{
    border: none;
    background-color: transparent;
    width: 100%;
}

.edit-story-button:hover,
.delete-story-button:hover{
    cursor: pointer;
    font-weight: 560;
}

.delete-story-button{
    color: #C94A4A;
}
