#commentmodal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 76%;
}

#commentmodalbackground {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #ebebeb44;
}

#commentmodalcontent {
  position: absolute;
  background-color:white;
  box-shadow: 0 0 5px 1px grey;
  width: 24vw;
  height: 100vh;
  z-index: 2;
  overflow-y: scroll;

}
